
@media (min-width: 992px) and (max-width: 1200px) {}  



.Body {background-image: url(https://media.wired.com/photos/64b6962b6296ebb3f0861532/master/w_1600,c_limit/Culture-EA-FC24_Screenshot_EPL_4k_CityCele.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
height: 1200px;

}


.LogoFifa { width: 80px;height: 80px; top:4%;}   

.Navbar {position: relative;}

.MainTitle {text-align: center ; font-size: 60px; margin-top: 5%; color: rgb(163, 173, 166);
    font-family: Arial, Helvetica, sans-serif; font-weight: 570 ;}




.players-list { justify-content: center; display: flex !important;flex-wrap: wrap !important; 
    justify-content: space-around; font-family: Arial, Helvetica, sans-serif; font-size: medium; text-align: center; font-weight: 650; }


.players-list img { justify-content: center;height: 200px;width: 200px;margin-bottom: 7%;padding-top: 5%;}    

.CardPlayers img {justify-content: center !important; }